/* MvBlog 1.0 - Created by Michiel van Baak - Released under a GPL */
/* Check the CSS Documentation on the MvBlog Wiki: http://dev.mvblog.org/cgi-bin/trac.cgi/wiki/CSS */
/* Here you will find a complete list of all the CSS tags available for MvBlog, and a brief explanation of their purpose. */
/* Testing in Firefox 1.5, IE 6 and Safari 2 */

body {
	margin: 0px;
	padding:0px;
	text-align: center;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #000;
	background-color: #FFFFFF;
	line-height: 19px;
}

a {
	text-decoration: none;
	color: #8bb7b5;
}

a.page_header {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

a.page_header:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

img {
	margin: 0px 0px 0px 0px;
}

a img {
	border: 0px;
}

a:visited {
	color: #8bb7b5;
}

input, textarea {
	border: 1px solid #797979;
	/* mozilla like browsers can draw round borders. YAY! */
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
}

select {
	border: 1px solid #797979;
}

pre {
	border: 1px dotted #797979;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background-color: #8bb7b5;
	overflow: auto;
}

#if_title {
	position: absolute;
	background-image:  url(logo_menu.png);
	margin-left: 10px;
	top: 30px;
	height: 121px;
	width: 818px;
}

#if_bar1 {
	display: block;
	background: white url(page_top.png) no-repeat;
	margin: auto;
	height: 8px;
	width: 850px;
	overflow: hidden;
}

#if_page_header {
	width: 810px;
	text-align: right;
	position: absolute;
	top: 122px;
	padding: 0px 50px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#if_menu {
       font-family: verdana, helvetica;
       font-size: 13px;
       position: absolute;
       margin-left: 20px;
       top:153px;
}

a.if_menu_item {
       text-decoration: none;
       color: #505050;
       border: 0px;
}

a.if_menu_item:hover {
       color: #000000;
       border: 0px;
       text-decoration: underline;
}

a.if_menu_item:visited {
       color: #505050;
}

a.if_menu_item_act {
       text-decoration: underline;
       color: #505050;
       font-weight: bold;
       border: 0px;
}

#if_submenu {
       font-family: verdana, helvetica;
       font-size: 13px;
       position: absolute;
       margin-left: 50px;
       top:168px;
}

a.if_submenu_item {
       text-decoration: none;
       color: #505050;
       border: 0px;
}

a.if_submenu_item:hover {
       color: #000000;
       border: 0px;
       text-decoration: underline;
}

a.if_submenu_item:visited {
       color: #505050;
}

a.if_submenu_item_act {
       text-decoration: underline;
       color: #505050;
       font-weight: bold;
       border: 0px;
}

#if_page_footer {
	background: white url(page_bottom.png) no-repeat;
	position: relative;
	margin:auto;
	left: -50px;
	top: 20px;
	padding-top: 20px;
	padding-left: 15px;
	padding-bottom: 20px;
	height: 60px;
	width: 870px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #909090;
	text-align: left;
	font-size: 10px;

}

#if_page {
	overflow: hidden;
	text-align: justify;
	padding: 170px 50px 0px 50px;
}

table {
	width: 100%;
	border: none;
}

#if_sidebar_container {
	vertical-align: top;
}

#if_sidebar_container h2 {
	font-size: 130%;
	color: rgb(80, 80, 80);
	margin-bottom: 0px;
	font-weight: bold;
}

#if_container {
	background: white url(page_bg.png) repeat-y;
	overflow: hidden;
	margin: auto;
	width: 850px;
	margin-top: 20px;
	text-align: left;
}

a.link_readmore {
	text-decoration: underline;
	font-weight: bold;
}

a.link_prev {
	text-decoration: underline;
}

a.link_next {
	text-decoration: underline;
}

h1.page_title {
	color: #FFFFFF;
	font-family: arial;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

h1.log_archive_h1 {
	/* Archive title */
	font-size: 1.5em;
}

/* post specific tags */

div.log_post {
	/* container for post */
	margin-top: 0px;
	padding-bottom: 10px;
	text-align: justify;
}

div.log_post_head {
	/* container for title and category */
}

h1.log_post_new {
	/* creat new link */
	font-size: 1.1em;
}

h1.log_post_h1 {
	/* title */
	line-height: 20%;
	font-size: 1.1em;
	display: inline;
}

h2.log_post_h2 {
	/* category */
	line-height: 20%;
	font-size: 0.8em;
	display: inline;
	margin-left: 5px;
	color: #909090;
	font-weight: normal;
}

div.log_post_body {
	/* container for post body etc */
}
div.log_post_body table {
	width: auto;
}

div.log_post_aside {
	/* content style for an aside */
}

div.log_post_normal {
	/* content style for normal entry */
	margin-left: 30px;
	display: block;
	width: 420px;
	margin-top: 10px;
	margin-bottom: 10px;
}

a.link_readmore {
	/* style for the 'read more' link in mvblog. First use on frontpage */
}

div.log_post_foot {
	color: #909090;
	text-align: right;
	font-size: 10px;
	border-bottom: 1px solid #D0D0D0;
}

.log_post_commentslink {
	/* link to comments on main page post list */
}

.log_post_commentsrss {
	/* link to rss feed for specific post */
}

.log_post_trackbacklink {
	/* trackback url for specific post */
}

.log_post_author {
	/* author name on main page post list */
}

.log_post_date {
	/* post date info on main page post list */
}

/* comment specific styles */

div.log_comment {
	/* container for comments */
	/* in this style, exact copy of log_post */
	margin-top: 0px;
	padding-bottom: 10px;
	text-align: justify;
}

div.log_comment_head {
	/* container for title and poster */
	padding-top: 5px;
	padding-bottom: 5px;
}

h1.log_comment_h1 {
	/* title of comment */
	line-height: 20%;
	font-size: 1.1em;
}

div.log_comment_body {
	/* comment body */
}

div.log_comment_foot {
	/* container for poster and link etc */
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D0D0D0;
}

.log_comment_author {
	/* comment author name and ip */
}

.log_comment_email {
	padding-right: 5px;
}

.log_comment_email:before {
	content: url(icon-email.gif);
	padding-right: 3px;
}

.log_comment_website {

}

.log_comment_website:before {
	content: url(icon-www.gif);
	padding-right: 3px;
}

/* form specific styles */

div.log_form {
	/* container for forms */
}

.log_form_name {
	/* header/name of input row */
}

.log_form_value {
	/* content/input box */
}

/* sidebar specific styles */

#default_list_container {
	/* container for the default menu items */
}

.default_list_item {
	/* default menu item */
}

#archive_list_container {
	/* container for month links */
}

.archive_list_item {
	/* menu item */
}

#category_list_container {
	/* container for category menu */
}

.category_list_item {
	/* category menu item */
}

#searchresults {
	/* block element for AJAX search results */
}

#searchresults li {
	/* search result items */
}

#seachresults li a{
	/* a href link search result item */
}
