/* MvBlog - Created by Michiel van Baak - Released under a GPL */
/* Check the CSS Documentation on the MvBlog website - www.mvblog.org */
/* Here you will find a complete list of all the CSS-tags available for MvBlog, and a brief explanation of their purpose. */
/* Print Stylesheet - Created by Leonieke Aalders - Released under a GPL */
/* Last updated on 18 March 2007 */

body {
	margin: 10px;
	padding: 0px;
	background-color: none;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 20cm;
}

a {
	text-decoration: underline;
	color: #000;
}

img {
	margin: 0px;
}

a img {
	border: 0px;
	text-decoration: none;
}

#if_sidebar_container {
	visibility: hidden;
}

div.log_post_foot {
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
}

div.log_comment:before {
	content: 'COMMENTS';
	color: #999;
}

div.log_comment_foot {
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
}

div.log_form {
	visibility: hidden;
}
